@import "/src/Style/Main/font.scss";
@import "/src/Style/Main/Variables.scss";
@import "/src/Style/Main/Main.scss";

header {
    position: fixed;
    background-color: #ffffffc9;
    border: map-get($map: $Content, $key: border);
    border-radius: 67px;
    padding: 3px 2px;
    filter: drop-shadow(0px 4px 20px 0px);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    top: 42px;
    transition: top .3s ease, padding .3s ease;
    height: auto;

    ul {
    display: flex;
    flex-direction: row;

    li {
        width: 11.8vh;
        padding: 2.2vh 2vh;
        border-radius: 200px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;

        a {
            user-select: none;
        }
    }
    li:hover {
        background-color: $Block;
    }
    li:focus {
        background-color: $Block;
    }
    .active {
        background-color: $Block;
    }
}
}
.header-script {
    top: 16px;
    padding: 0 0;
}